* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.logo {
    max-width: 100%;
    max-height: 100%;
}

.firstimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 13px;
    filter: brightness(0.8);
}

nav {
    margin: auto;
    width: 1100px;
    color: rgb(182, 182, 182);
}

.pinkdiv {
    height: 100px;
    width: 1100px;
    margin: auto;
    margin-top: 10px;
}

.yellowdiv {
    height: 500px;
    width: 1100px;
    margin: auto;
    margin-top: 10px;
    position: relative;
}

.infobanner {
    position: absolute;
    width: 60%;
    bottom: 50px;
    left: 50px;
    color: white;
}

.container {
    content: "";
    display: table;
    clear: both;
    width: 1100px;
    height: auto;
    margin: auto;
    margin-top: 20px;
}

.divtop {
    height: auto;
    margin-top: 30px;
    margin-bottom: 50px;
}

.colorgray {
    color: rgb(182, 182, 182);
}


.divcenter {
    height: auto;
    width: calc(50% - 20px);
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}


.divside {
    height: auto;
    width: 25%;
    float: left;
}

.subtitle {
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 8px;
}

.colimage {
    filter: brightness(0.8);
    border-radius: 13px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}


.purplediv {
    height: 50px;
    width: 1100px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.redheart {
    color: red
}